/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Variables */
:root {
  --color1: #260101;
  --color2: #f2a444;
  --color3: #f2e0d0;
  --color4: #f2994b;
  --color5: #d9704a;
  --color6: #d9042b;
  --color7: #fcfbf7;
}
